body {
  background: rgba(0, 0, 0, 0.2);
  color: #333;
  font-family: "Roboto", sans-serif;
  margin: 0;
}

h1,
h2 {
  /* background: #00ccbb56; */
  text-align: center;
  margin: 20px auto;
  padding: 20px 0;
  max-width: 500px;
}

.foot-update {
  border: 2px solid red;
  width: 600px;
  padding: 10px 0;
  margin: 100px auto;
}

.foot-update p {
  border: 3px solid green;
  text-align: center;
  width: 550px;
  margin: 0 auto;
  padding: 10px 0;
}

.intro {
  width: 500px;
  margin: 0 auto;
}

.cols {
  border: 5px solid green;
  display: flex;
  width: 900px;
  margin: 0 auto;
  padding: 20px;
}

.col {
  border: 3px solid blue;
  font-size: 20px;
  width: 400px;
  margin: 0 auto;
  padding: 10px;
}
