* { box-sizing: border-box; }

body {
	margin: 0;
	background: #2C73D2;
	color: #fff;
	font-family: "Roboto", sans-serif;
	text-align: center;
}

.flex-container {
	border: 10px solid #F9F871;
	width: 80%;
	margin: 0 auto;
	padding: .25em;
	/* min-height: 50vh; */	
	display: flex;
	/* flex-direction: column; */
	/* row is default behavior, row-reverse, column, column-reverse */
	/* flex-wrap: wrap; */
	/* nowrap is default behavior */
	
	/* flex-flow: wrap; */
	/* justify-content: center; */
	/* align-items: flex-start; */
	/* align-content: space-between; */
}

/* @media (min-width: 600px) {
	.flex-container {
		flex-direction: row;
	}
} */

.flex-item {
	background: #8BEE86;
	margin: .5em;
	padding: .5em;
	color: #424656;
	
	width: 200px;
}

.flex-item-1 {
	background: plum;
	/* flex-grow: 1; */
	flex-basis: 400px;
}

.flex-item-2 {
	/* flex-grow: 2; */
}

.flex-item-3 {
	/* flex-grow: 5; */
}

/* ==========
		Button
	 ==========	 */

.intro-flexbox {
	display: inline-block;
	background: hsl(0, 0%, 50%);
	color: hsl(0, 0%, 20%);
	padding: .5em;
	text-decoration: none;
	border-radius: 3em;
	text-transform: uppercase;
	transform: scale(1);
	transition: transform 200ms;
}

.intro-flexbox:hover,
.intro-flexbox:focus {
	background: hsl(0, 0%, 30%);
	color: hsl(0, 0%, 80%);
	transform: scale(1.01);
}

.intro-flexbox:active {
	background: hsl(0, 0%, 50%);
	color: hsl(0, 0%, 20%);
	transform: scale(1);
}