* { box-sizing: border-box; }

body {
	margin: 0;
	background: #2C73D2;
	color: #fff;
	font-family: "Roboto", sans-serif;
	text-align: center;
}

.intro-flexbox {
	display: inline-block;
	background: hsl(0, 0%, 50%);
	color: hsl(0, 0%, 20%);
	padding: .5em;
	text-decoration: none;
	border-radius: 3em;
	text-transform: uppercase;
	transform: scale(1);
	transition: transform 200ms;
}

.intro-flexbox:hover,
.intro-flexbox:focus {
	background: hsl(0, 0%, 30%);
	color: hsl(0, 0%, 80%);
	transform: scale(1.01);
}

.intro-flexbox:active {
	background: hsl(0, 0%, 50%);
	color: hsl(0, 0%, 20%);
	transform: scale(1);
}

.flex-container {
	border: 10px solid #F9F871;
	max-width: 600px;
	margin: 0 auto;
	padding: .25em;
	
	display: flex;
	/* flex-direction: column;
	align-items: flex-start;
	height: 50vh; */
}

.flex-item {
    background: #8BEE86;
    margin: .5em;
    padding: .5em;
    color: #424656;
    
    /* width: 200px; */
}

/* .flex-item-1 {
    background: plum;
} */

/* .flex-item-2 {
    
}

.flex-item-3 {
    
} */