* { box-sizing: border-box; }

body {
	margin: 0;
	background: hsl(214, 65%, 50%);
	color: hsl(0, 0%, 100%);
	font-family: "Roboto", sans-serif;
	text-align: center;
}

.flex-container {
	border: 10px solid hsl(60, 92%, 71%);
	max-width: 80%;
	margin: 0 auto;
	padding: .25em;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	height: 50vh;
	/* flex-direction: column; */
	/* row is default behavior, row-reverse, column, column-reverse */
	/* flex-wrap: wrap; */
	/* nowrap is default behavior */
	
	/* flex-flow: wrap; */
	/* justify-content: center; */
	/* align-items: flex-start; */
	/* align-content: space-between; */
}

/* @media (min-width: 600px) {
	.flex-container {
		flex-direction: row;
	}
} */

.flex-item {
	background: hsl(117, 75%, 73%);
	margin: .5em;
	padding: .5em;
	color: hsl(228, 13%, 30%);
	
	width: 200px;
}

.flex-item-1 {
	background: hsl(300, 47%, 75%);
}

.flex-item-2 {
	/* flex-grow: 2; */
}

.flex-item-3 {
	/* flex-grow: 5; */
	margin-top: auto;
}

/* ==========
		Button
	 ==========	 */

.intro-flexbox {
	display: inline-block;
	background: hsl(214, 90%, 30%);
	color: hsl(0, 0%, 100%, .7);
	padding: .5em;
	text-decoration: none;
	border-radius: 3em;
	text-transform: uppercase;
	letter-spacing: .1rem;
	transform: scale(1);
	transition: transform 200ms;
}

.intro-flexbox:hover,
.intro-flexbox:focus {
	background: hsl(214, 100%, 35%);
	color: hsl(0, 0%, 80%, .9);
	/* border: 3px solid hsl(214, 90%, 30%); */
	transform: scale(1.01);
}

.intro-flexbox:active {
	background: hsl(214, 90%, 30%);
	color: hsl(0, 0%, 100%, .7);
	transform: scale(1);
}