/* html, body {
	background: lightblue;
	margin: 0px;
	padding: 0px;
}

body {
	border: 5px solid red;
	display: grid;
	grid-template: 150px 150px 100px  / 350px 300px 300px;
}

h1, p {
	border: 3px solid orangered;
} */

.grid {
	background: hsl(0, 0%, 30%);
  display: grid;
  grid-template-columns: 150px 150px 200px;
}

.grid-item {
	background: #b823c1;
  color: white;
  padding: 1em 2em;
  border: 2px solid purple;
  display: flex;
  align-items: center;
  justify-content: center;
}

.big {
	padding: 3em 2em;
	background: #ff5670;
}

/* .one {
	grid-column: 2 / span 2;
	grid-row: span 2;
}

.two {
	background: #ff5670;
	grid-column: 1 / -2;
} */