/* html, body {
	background: lightblue;
	margin: 0px;
	padding: 0px;
}

body {
	border: 5px solid red;
	display: grid;
	grid-template: 150px 150px 100px  / 350px 300px 300px;
}

h1, p {
	border: 3px solid orangered;
} */

.grid {
	background: green;
  display: grid;
  grid-template: 100px 100px 100px / 200px 200px 200px;
}

.grid-item {
  color: white;
  padding: 1em 2em;
  border: 2px solid purple;
  display: flex;
  align-items: center;
  justify-content: center;
}

.one {
	background: #b823c1;
}

.two {
	background: #ff5670;
}