html, body {
	background: lightblue;
	margin: 0px;
	padding: 0px;
}

body {
	/* border: 5px solid red; */
	display: grid;
	grid-template: 150px 150px 100px  / 350px 300px 300px;
}

h1, p {
	border: 3px solid green;
}