html {
	box-sizing: border-box;
}

*,
*:active,
*:before {
	box-sizing: inherit;
}

body {
	border: 5px solid red;
	margin: 0;
}

.parent {
	background: #23424A;
	padding: 50px;
	width: 80%;
	margin: 0 auto;
}

.child {
	background: #38CFD9;
	width: 50%;
	height: 250px;
}