html {
	border: 3px solid red;
	box-sizing: border-box;
}

*,
*::after,
*::before {
	box-sizing: inherit;
}

body {
	border: 3px solid red;
	font-family: sans-serif;
	font-size: 1em;
	background: lightblue;
	max-width: 90%;
	margin: 0 auto;
	padding: .5em 23em;
}

h1,
h2 {
	margin: 0;
	padding: 0;
}

h1 {
	margin-bottom: .3em;
}

h2 {
	margin-bottom: 1em;
}

button {
	font-family: inherit;
	margin: 1em 0;
}

.grid {
	display: flex;
	flex-wrap: wrap;
	width: 200px;
	height: 200px;
	border: 3px solid black;
}

.square {
	width: 20px;
	height: 20px;
}

.snake {
	background: green;
}