html,
body {
	/* border: 3px solid red; */
	background: lightblue;
	margin: 0;
	padding: 5em 12em;
}

h1,
h2 {
	margin: 0;
}

h1 {
	margin-bottom: .3em;
}

h2 {
	margin-bottom: 1em;
}

button {
	margin: 1em 0;
}

.grid {
	display: flex;
	flex-wrap: wrap;
	width: 200px;
	height: 200px;
	border: 3px solid black;
}

.square {
	width: 20px;
	height: 20px;
}

.snake {
	background: green;
}