html,
body {
	background: lightblue;
	margin: 10;
	padding: 10;
}

.grid {
	display: flex;
	flex-wrap: wrap;
	width: 200px;
	height: 200px;
	border: 3px solid black;
}

.square {
	width: 20px;
	height: 20px;
}

.snake {
	background: green;
}