* {
	box-sizing: border-box;
}

body {
  background: hsla(0, 0%, 0%, 0.2);
  color: #404040;
  font-family: "Roboto", sans-serif;
	font-size: 1rem;
  height: 125vh;
  margin-top: 5em;
  padding: 2em;
}

h1,
h2 {
  text-align: center;
  margin: 1.4em auto;
  padding: 1.4em 0;
  max-width: 500px;
}

header img {
  height: 4rem;
  max-width: 100%;
	display: block;
  margin-top: .25em;
	padding-left: 2.5em;
}

header {
  background: hsla(0, 0%, 83%, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 5rem;
  display: flex;
  align-items: center;
  box-shadow: .4rem .4rem 1.5rem .4rem #333;
}

header * {
  display: inline;
}

.nav-link {
	display: inline-block;
  background: hsl(0, 0%, 50%);
  color: hsl(0, 0%, 100%);
  text-decoration: none;
  font-weight: bold;
  margin: 1.4em;
  padding: .4em 1.4em;
  border: hsl(0, 0%, 50%);
  border-radius: 3rem;
	text-transform: uppercase;
	letter-spacing: .1rem;
	transform: scale(1);
	transition: transform 200ms;
}

.nav-link:hover,
.nav-link:focus-visible {
  background: hsl(0, 0%, 40%);
	transform: scale(1.1);
}

.nav-link:active {
  background: hsl(0, 0%, 60%);
	transform: scale(1);
}

.container {
	border: 4px solid orange;
	max-width: 600px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 1em;
}

.intro {
	border: 3px solid green;
  max-width: 500px;
	margin: .5em auto;
}

.cols {
	border: 4px solid red;
  background: hsl(0, 0%, 83%);
  display: flex;
	flex-direction: column;
	flex-flow: wrap;
	/* justify-content: center; */
  max-width: 900px;
  margin: 0 auto;
  padding: 1.4em;
}

.col {
	border: 3px solid blue;
  max-width: 400px;
  margin: 0 auto;
  padding: .5em;
}

.foot-update {
	border: 4px solid yellow;
	background: hsl(0, 0%, 83%);
	text-align: center;
  max-width: 500px;
  margin: 6em auto;
	padding: .5em 0;
}

@media (max-width: 650px) {
	body {
		font-size: .8rem;
	}
}