body {
  background: hsla(0, 0%, 0%, 0.2);
  color: #404040;
  font-family: "Roboto", sans-serif;
  height: 125vh;
  margin-top: 5em;
  padding: 2em;
}

h1,
h2 {
  /* background: hsla(175, 100%, 40%, 0.337); */
  text-align: center;
  margin: 1.4em auto;
  padding: 1.4em 0;
  max-width: 500px;
}

/* Navigation */

header img {
  height: 4rem;
  width: 4rem;
  margin-top: .25em;
	padding-left: 2.5em;
}

header {
  background: hsla(0, 0%, 83%, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 5rem;
  display: flex;
  align-items: center;
  box-shadow: .4rem .4rem 1.5rem .4rem #333;
}

header * {
	/* border: 3px solid hsl(0, 0%, 50%); */
  display: inline;
}

.nav-link {
	display: inline-block;
  background: hsl(0, 0%, 50%);
  color: hsl(0, 0%, 100%);
  text-decoration: none;
  font-weight: bold;
  margin: 1.4em;
  padding: .4em 1.4em;
  border: hsl(0, 0%, 50%);
  border-radius: 3rem;
	text-transform: uppercase;
	letter-spacing: .1rem;
	transform: scale(1);
	transition: transform 200ms;
}

header li a:hover,
header li a:focus {
  background: hsl(0, 0%, 40%);
	transform: scale(1.1);
}

header li a:active {
  background: hsl(0, 0%, 60%);
	transform: scale(1);
}

.intro {
	font-size: 1.1rem;
  width: 500px;
  margin: 0 auto;
}

.cols {
  /* border: 5px solid green; */
  background: lightgray;
  display: flex;
  width: 900px;
  margin: 0 auto;
  padding: 1.4em;
}

.col {
  /* border: 3px solid blue; */
  font-size: 1.1em;
  width: 400px;
  margin: 0 auto;
  padding: .5em;
}

.foot-update {
  /* border: 2px solid red; */
	background: lightgray;
  width: 600px;
  padding: .5em 0;
  margin: 6em auto;
}

.foot-update p {
  /* border: 3px solid green; */
  text-align: center;
  width: 550px;
  margin: 0 auto;
  padding: .5em 0;
}
