/* 
////// For this challenge ///////

- All text is in the text.md file

// Requirements
1. Refer to the design specs for the
   overall layout 
2. The image should line up with
   the sidebar in the section
   below

*/

*,
*::before,
*::after {
	box-sizing: border-box;
}

body,
h1,
h2 {
	margin: 0;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 1.3rem;
}

img {
	max-width: 100%;
}

h1 {
	font-size: 3rem;
}

.main__title {
	color: #136C72;
	font-size: 2.25rem;
}

.sidebar__title {
	font-size: 2.25rem;
}

.btn {
	display: inline-block;
	text-decoration: none;
	text-transform: uppercase; 
	color: #23424A;
	font-weight: 900;
	background-color: #38CFD9;
	padding: .75em 2em;
	border-radius: 100px;
	transition: transform 300ms ease-in-out;
}

.btn:hover,
.btn:focus-visible {
	opacity: .75;
	transform: scale(1.05);
}

.container {
	width: 80%;
	max-width: 1100px;
	margin: 0 auto;
}

.row {
	/* display: flex => flex container */
	display: flex;
	justify-content: space-between;
	
	/* can't use yet */
	/* gap: 100px; */
}

.col {
	/* these are now flex items */
	width: 100%;
}

.col + .col {
	margin-left: 30px;
}

.hero {
	padding: 100px 0;
	background-color: #23424A;
	color: #FFF;
}

.hero__text {
	width: 62%;
}

.hero__p {
	font-size: 1.3125rem;
}

.hero__img {
	width: 32%;
	align-self: flex-start;
}

.hero p {
	margin-bottom: 3em;
}

.main {
	margin-top: 2em;
	margin-bottom: 2em;
}

.main__content {
	width: 63%;
}

.main__p {
	color: #23424A;
}

.sidebar {
	background: #136C72;
	color: #fff;
	width: 32%;
	padding: 1.5em;
	text-align: center;
}