html {
	box-sizing: border-box;
}

*, *::before, *::after {
	box-sizing: inherit;
}

body {
	margin: 0;
	font-family: 'Roboto', sans-serif;
	font-size: 1em;
}

h1 {
	font-weight: 900;
}

.intro {
	background: hsla(184, 73%, 10%, 1);
	color: #fff;
	padding: 50px 0;
}

.container {
	width: 80%;
	max-width: 750px;
	margin: 0 auto;
}

.btn {
	background: hsla(184, 68%, 53%, 1);
	color: #333;
	font-weight: 900;
	padding: .5em 1.5em;
	border: none;
	border-radius: 2em;
	text-transform: uppercase;
	text-decoration: none;
}