body {
  background: rgba(0, 0, 0, 0.2);
  color: #333;
  font-family: "Roboto", sans-serif;
  height: 125vh;
  margin-top: 80px;
  padding: 30px;
}

h1,
h2 {
  /* background: #00ccbb56; */
  text-align: center;
  margin: 20px auto;
  padding: 20px 0;
  max-width: 500px;
}

header img {
  height: 60px;
  width: 60px;
  margin-top: 5px;
	padding-left: 40px;
}

header {
  background: lightgray;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  display: flex;
  align-items: center;
  box-shadow: 5px 5px 25px 5px #333;
}

header * {
  display: inline;
}

header li {
  margin: 20px;
}

header li a {
  background: gray;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  padding: 8px 20px;
  border: gray;
  border-radius: 50px;
}

header li a:hover,
header li a:focus {
  background: rgb(66, 48, 48);
  padding: 10px 25px;
}

header li a:active {
  background: rgb(124, 52, 52);
  padding: 6px 15px;
}

.intro {
  width: 500px;
  margin: 0 auto;
}

.cols {
  /* border: 5px solid green; */
  background: lightgray;
  display: flex;
  width: 900px;
  margin: 0 auto;
  padding: 20px;
}

.col {
  /* border: 3px solid blue; */
  font-size: 20px;
  width: 400px;
  margin: 0 auto;
  padding: 10px;
}

.foot-update {
  /* border: 2px solid red; */
  width: 600px;
  padding: 10px 0;
  margin: 100px auto;
}

.foot-update p {
  /* border: 3px solid green; */
  text-align: center;
  width: 550px;
  margin: 0 auto;
  padding: 10px 0;
}
