html {
	box-sizing: border-box;
}

*, *::after, *::before {
	box-sizing: inherit;
}

body {
	margin: 0;
	font-family: 'Roboto', sans-serif;
	font-size: 1em;
}

.intro {
	background: hsla(184, 73%, 10%, 1);
	color: #fff;
	padding: 1em;
}

.container {
	width: 80%;
	max-width: 750px;
	margin: 0 auto;
}