html {
	box-sizing: border-box;
}

*, *::before, *::after {
	box-sizing: inherit;
}

body {
	margin: 0;
	font-family: 'Roboto', sans-serif;
	font-size: 1.3125em;
}

h1 {
	font-size: 3rem;
}

.container {
	width: 80%;
	max-width: 1100px;
	margin: 0 auto;
	border: 2px solid yellow;
}

.hero {
	padding: 100px 0;
	background: hsla(184, 73%, 10%, 1);
	color: #fff;
}

.hero__text {
	width: 60%;
	border: 1px solid pink;
}

.btn {
	display: inline-block;
	background: hsla(184, 68%, 53%, 1);
	color: #333;
	font-weight: 900;
	padding: .5em 1.5em;
	margin-top: 2em;
	border: none;
	border-radius: 2em;
	text-transform: uppercase;
	text-decoration: none;
}